[submodule "themes/creative-theme"]
	path = themes/creative-theme
	url = https://github.com/digitalcraftsman/hugo-creative-theme
[submodule "themes/ananke-gohugo-theme"]
	path = themes/ananke-gohugo-theme
	url = https://github.com/budparr/gohugo-theme-ananke.git
